{% extends 'core/base.html' %}
{% load static %}

{% block title %}BTR Directory{% endblock %}

{% block content %}

<section class="py-5" id="page-header">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <h1 class="mb-3">Accessibility Statement</h1>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>

<section class="py-3" id="accessibility-statement">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body p-4 p-lg-5">
                        <div class="mb-5">
                            <h2 class="mb-3">
                                Our commitment to accessibility
                            </h2>
                            <p class="body">
                                BTR Directory is committed to making its website accessible to as many people as possible, regardless of ability or technology.
                            </p>
                            <p class="body">
                                We aim to provide a clear, usable, and inclusive experience for all users, including those who rely on assistive technologies such as screen readers, keyboard navigation, or browser accessibility tools.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}