<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Branding link back to homepage -->
        <a class="navbar-brand" href="{% url 'core:home' %}">
            <span class="text-brand">BTR</span> | Directory
        </a>

        <!-- Bootstrap nav menu toggle for mobile  -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Main nav links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a 
                      class="nav-link {% if request.resolver_match.view_name == 'core:home' %}active{% endif %}"
                      { % if request.resolver_match.view_name == 'core:home' % }aria-current="page"{ % endif % } 
                      href="{% url 'core:home' %}"
                    >
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                      class="nav-link {% if request.resolver_match.view_name == 'cities:list' %}active{% endif %}" 
                      { % if request.resolver_match.view_name == 'core:list'% }aria-current="page"{ % endif % } 
                      href="{% url 'cities:list' %}"
                    >
                        Cities
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:what_is_btr' %}">
                        What is BTR
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        About
                    </a>
                </li>
            </ul>

            <!-- Search form with get request -->
            <form method="GET" action="{% url 'core:search' %}" class="d-flex" role="search">
                <input 
                  type="text" 
                  name="q" 
                  id="navSearch"
                  class="form-control me-2" 
                  placeholder="Search" 
                  aria-label="Search"
                >
                <button class="btn btn-primary btn-lg" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>